<% if defined?(tweet) && tweet.present? %>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><%= link_to tweet.user.name, user_path(tweet.user) %></h5>
      <% if tweet.reply_id.present? %>
        <% reply_to_tweet = Tweet.find_by(id:tweet.reply_id) %>
        <% if reply_to_tweet.present? %>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to "replying to #{Tweet.find_by(id:tweet.reply_id).user.name}", tweet_path(id:tweet.reply_id) %></h6>
        <% else %>
          <h6 class="card-subtitle mb-2 text-muted"><%= "replying to deleted tweet"%></h6>
        <% end %>
      <% end %>
      <% if tweet.retweet_id.present? %>
        <h6 class="card-subtitle mb-2 text-muted">retweet</h6>
      <% end %>
      <p class="card-text"><%=tweet.content.gsub(/(?:\s|^)(?:#(?!(?:\d+|\w+?_|_\w+?)(?:\s|$)))(\w+)(?=\s|$)/i){|tag| "<a href=\"#{hashtag_path(tag.downcase.strip[1,tag.size])}\">#{tag}</a>"}.html_safe %></p>
      <% if has_retweet %>
        <%= render '/tweets/tweet', tweet: retweet, has_retweet: false %>
        <br/>
      <% end %>
      <%= Like.where(tweet_id:tweet.id).size%>
      <% if like=Like.find_by(tweet_id:tweet.id, user_id:current_user&.id) %>
        <%= link_to 'â¤ï¸', tweet_like_path(tweet,like), method: :delete,:class => "btn btn-outline-danger" %>
      <%else%>
        <%= link_to 'â™¡', tweet_likes_path(tweet), method: :post,:class => "btn btn-light" %>
      <% end %>
      <%= link_to 'ðŸ”„', new_tweet_retweet_path(tweet), :class => "btn btn-outline-primary" %>
      <% if current_user&.id == tweet.user_id %>
        <%= link_to 'ðŸ—‘ï¸', tweet_path(tweet.id), method: :delete, :class => "btn btn-danger" %>
      <% end %>
      <%= link_to 'See more', tweet_path(tweet), :class => "btn btn-outline-primary" %>
    </div>
  </div>
<% else %>
  <div class="card" >
    <div class="card-body">
      <p class="card-text">tweet unavailable</p>
    </div>
  </div>
<% end %>