<% if user_signed_in?%>
  <h1>Tweets</h1>
  <%= flash[:fail] %>
  <%= simple_form_for :tweet, url: tweets_path, method: :post do |f| %>
    <%= f.input :content, label: false, as: :text, row: 5, col: 20,
        input_html: { class: 'form-group', rows: 5, cols: 40 } %>
    <%= f.input :anonymously, as: :boolean %>
    <%= f.button :submit, "Tweet", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <h1>Global Tweets</h1>
<% end %>

<button id="emoji_button" class="btn btn-success" type="button">Emoji</button>

<div id="emoji-picker" class="overflow-auto is-hidden emoji-popover container">
  <div class="row">
    <% Emoji.all.each do |emoji| %>
      <div class="col-2"><button class="d-inline btn btn-block emoji_select" data-emoji=<%= emoji.raw %>><%= emoji.raw %></button></div>
    <% end %>
  </div>
</div>

<br/>
<% @tweets.each do |tweet|%>
  <% if has_retweet = tweet.retweet_id.present? %>
      <% retweet = Tweet.find_by(id: tweet.retweet_id)%>
  <% end %>
  <%= render 'tweet', tweet: tweet, has_retweet: has_retweet, retweet: retweet %>
<%end%>
<%= paginate @tweets %>