<h1><%= @user.name%></h1>
<p><%= @user.email%></p>
<% unless @user.id==current_user&.id %>
  <% if @follow.present? %>
    <%= link_to 'Following', user_following_path(@user,@follow), method: :delete,:class => "btn btn-outline-danger" %>
  <%else%>
    <%= link_to 'Follow', user_followings_path(@user), method: :post,:class => "btn btn-light" %>
  <% end %>
<% end %>
<h3>Tweets</h3>
<% @tweets.each do |tweet|%>
  <% if has_retweet = tweet.retweet_id.present? %>
      <% retweet = Tweet.find_by(id: tweet.retweet_id)%>
  <% end %>
  <%= render 'tweets/tweet', tweet: tweet, has_retweet: has_retweet, retweet: retweet %>
<% end %>
<%= paginate @tweets %>