<h1 class="p-2 d-inline"><%= @user.name%>
  <% unless @user.id==current_user&.id %>
    <% if @follow.present? %>
      <%= link_to 'Following', user_following_path(@user,@follow), method: :delete,:class => "btn btn-outline-danger" %>
    <%else%>
      <%= link_to 'Follow', user_followings_path(@user), method: :post,:class => "btn btn-outline-primary" %>
    <% end %>
  <% end %>
</h1>
<div class="p-2"><%= @user.email%></div>
<div class="d-flex p-2">
  <div>Following <%=link_to @user.followees.size, user_followees_path(@user.id) %></div>
  <div class="ml-2">Followers <%=link_to @user.followers.size, user_followers_path(@user.id) %></div>
</div>
<h3 class="p-2">Tweets</h3>
<% @tweets.each do |tweet|%>
  <%= render 'tweets/tweet', tweet: tweet, has_retweet: tweet.retweet_id.present?, has_reply: tweet.reply_id.present? %>
<%end%>
<%= paginate @tweets %>